<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         id="coweb-build">
  <display-name>coweb-build</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>cometd</servlet-name>
    <servlet-class>org.cometd.server.CometdServlet</servlet-class>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>timeout</param-name>
      <param-value>30000</param-value>
    </init-param>
    <init-param>
      <param-name>jsonDebug</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>maxSessionsPerBrowser</param-name>
      <param-value>-1</param-value>
    </init-param>
    <!-- Uncomment this init-param to enable the use of websockets as a cometd transport.
	<init-param>
      <param-name>transports</param-name>
      <param-value>org.cometd.websocket.server.WebSocketTransport</param-value>
	</init-param>
	-->
    <load-on-startup>1</load-on-startup>
    <!--async-supported>true</async-supported> -->
  </servlet>
  <servlet-mapping>
    <servlet-name>cometd</servlet-name>
    <url-pattern>/cometd/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>org.coweb.servlet.AdminServlet</servlet-class>
	<init-param>
	  <param-name>ConfigURI</param-name>
	  <param-value>/WEB-INF/cowebConfig.json</param-value>
	</init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>
</web-app>
