*.py[co]
*.class
*.war
*.jar
*egg-info*
.DS_Store
docs/_build
servers/python/build
js/tmp
js/lib/require.js
js/lib/org
js/release/coweb-latest
target/
servers/python/MANIFEST
servers/python/dist
servers/python/build